<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Examinapp</title>
    <link rel="shortcut icon" href="https://fonts.gstatic.com/s/i/materialiconsoutlined/quiz/v10/24px.svg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"  />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary open-sans-serif">
        <a class="navbar-brand ml-5" href="#">
            <img th:src="@{/img/test.png}" width="30" height="30" class="d-inline-block align-top" alt="">
            Examinapp
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Anasayfa</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Özellikler</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">İndir</a>
                </li>
                <li class="nav-item active mr-5">
                    <a class="nav-link" href="#">İletişim</a>
                </li>
            </ul>
        </div>
    </nav>

    <footer class="text-center text-lg-start bg-light text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </section>
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-4 mx-auto mb-4">
                        <h6 class="fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Examinapp
                        </h6>
                        <p>
                            Examinapp ile üniversite sınavına adım adım hazırlanın.
                        </p>
                    </div>
                    <div class="col-4 mx-auto mb-4">
                        <h6 class="fw-bold mb-4">
                            Destek
                        </h6>
                        <p>
                            <img src="https://fonts.gstatic.com/s/i/materialicons/contact_support/v13/24px.svg" class="fas me-3" />
                            <a href="#" class="text-reset">Sıkça Sorulan Sorular</a>
                        </p>
                    </div>
                    <div class="col-4 mx-auto mb-md-0 mb-4">
                        <h6 class="fw-bold mb-4">
                            İletişim
                        </h6>
                        <p>
                            <img src="https://fonts.gstatic.com/s/i/materialicons/location_on/v15/24px.svg" class="fas me-3" />
                            Türkiye
                        </p>
                        <p>
                            <img src="https://fonts.gstatic.com/s/i/materialicons/mail/v16/24px.svg" class="fas me-3" />
                            info@examinapp.com
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">examinapp.com</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>